<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/portopolio">Portopolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aboutus">About</a>
    </li>
  </ul>